Here I'm trying to analyze the [free datasets](https://developer.imdb.com/non-commercial-datasets/) provided by IMDB.

In [1]:
import pandas as pd

In [3]:
df_title_basics = pd.read_csv("../data/title.basics.tsv", sep="\t", na_values="\\N")
df_title_basics

/tmp/ipykernel_641805/4261966783.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics = pd.read_csv("../data/title.basics.tsv", sep="\t", na_values='\\N')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short
...,...,...,...,...,...,...,...,...,...
11384502,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
11384503,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
11384504,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
11384505,tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
11384506,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [4]:
df_title_ratings = pd.read_csv("../data/title.ratings.tsv", sep="\t", na_values="\\N")
df_title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2117
1        tt0000002            5.6       285
2        tt0000003            6.4      2155
3        tt0000004            5.3       183
4        tt0000005            6.2      2880
...            ...            ...       ...
1523676  tt9916730            7.0        12
1523677  tt9916766            7.2        24
1523678  tt9916778            7.2        37
1523679  tt9916840            6.9        11
1523680  tt9916880            7.9         9

[1523681 rows x 3 columns]

In [6]:
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11384507 entries, 0 to 11384506
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         float64
 5   startYear       float64
 6   endYear         float64
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(3), object(6)
memory usage: 781.7+ MB

In [7]:
df = pd.merge(df_title_basics, df_title_ratings, how="inner", on="tconst")
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short",5.7,2117
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short",5.6,285
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance",6.4,2155
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short",5.3,183
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short,6.2,2880
...,...,...,...,...,...,...,...,...,...,...,...
1523676,tt9916730,movie,6 Gunn,6 Gunn,0.0,2017.0,NaN,116,Drama,7.0,12
1523677,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0.0,2019.0,NaN,43,"Family,Game-Show,Reality-TV",7.2,24
1523678,tt9916778,tvEpisode,Escape,Escape,0.0,2019.0,NaN,NaN,"Crime,Drama,Mystery",7.2,37
1523679,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0.0,2014.0,NaN,11,"Adventure,Animation,Comedy",6.9,11
1523680,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy",7.9,9

In [8]:
df["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [9]:
useful_title_types = ["movie", "tvMovie", "tvSeries", "tvMiniSeries"]
df = df[df["titleType"].isin(useful_title_types)]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894.0,NaN,45.0,Romance,5.4,217
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,NaN,100.0,"Documentary,News,Sport",5.2,547
339,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,NaN,100.0,NaN,4.4,18
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,NaN,70.0,"Action,Adventure,Biography",6.0,963
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,NaN,90.0,Drama,5.6,30
...,...,...,...,...,...,...,...,...,...,...,...
1523655,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,NaN,NaN,"Adventure,History,War",4.0,20
1523657,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0.0,2019.0,NaN,NaN,Comedy,8.9,19
1523661,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,NaN,123,Drama,8.3,9
1523674,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0.0,2013.0,NaN,NaN,Comedy,7.7,9
1523676,tt9916730,movie,6 Gunn,6 Gunn,0.0,2017.0,NaN,116,Drama,7.0,12

In [10]:
df = df.dropna()
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,216
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,544
339,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,952
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,29
...,...,...,...,...,...,...,...,...,...,...,...
1517407,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19
1517409,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy,8.9,19
1517413,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9
1517426,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,9
1517428,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12

In [10]:
df["imdb_id"] = df["tconst"].apply(lambda x: int(x.lstrip("t")))
df

/tmp/ipykernel_641805/3023829205.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["imdb_id"] = df["tconst"].apply(lambda x: int(x.lstrip("t")))

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,imdb_id
8,tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894.0,NaN,45.0,Romance,5.4,217,9
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,NaN,100.0,"Documentary,News,Sport",5.2,547,147
339,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,NaN,100.0,NaN,4.4,18,502
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,NaN,70.0,"Action,Adventure,Biography",6.0,963,574
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,NaN,90.0,Drama,5.6,30,591
...,...,...,...,...,...,...,...,...,...,...,...,...
1523655,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,NaN,NaN,"Adventure,History,War",4.0,20,9916428
1523657,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0.0,2019.0,NaN,NaN,Comedy,8.9,19,9916460
1523661,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,NaN,123,Drama,8.3,9,9916538
1523674,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0.0,2013.0,NaN,NaN,Comedy,7.7,9,9916706
1523676,tt9916730,movie,6 Gunn,6 Gunn,0.0,2017.0,NaN,116,Drama,7.0,12,9916730

I want to check, if I can get the top-250 as on IMDB

In [11]:
df = df[df["startYear"] != "\\N"]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,imdb_id
8,tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894.0,NaN,45.0,Romance,5.4,217,9
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,NaN,100.0,"Documentary,News,Sport",5.2,547,147
339,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,NaN,100.0,NaN,4.4,18,502
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,NaN,70.0,"Action,Adventure,Biography",6.0,963,574
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,NaN,90.0,Drama,5.6,30,591
...,...,...,...,...,...,...,...,...,...,...,...,...
1523655,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,NaN,NaN,"Adventure,History,War",4.0,20,9916428
1523657,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0.0,2019.0,NaN,NaN,Comedy,8.9,19,9916460
1523661,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,NaN,123,Drama,8.3,9,9916538
1523674,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0.0,2013.0,NaN,NaN,Comedy,7.7,9,9916706
1523676,tt9916730,movie,6 Gunn,6 Gunn,0.0,2017.0,NaN,116,Drama,7.0,12,9916730

In [12]:
df[(df["numVotes"] > 100000) & (df["titleType"] == "movie")].nlargest(
    250, "averageRating"
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,imdb_id
84343,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0.0,1994.0,NaN,142.0,Drama,9.3,2992635,111161
47624,tt0068646,movie,The Godfather,The Godfather,0.0,1972.0,NaN,175.0,"Crime,Drama",9.2,2088849,68646
31274,tt0050083,movie,12 Angry Men,12 Angry Men,0.0,1957.0,NaN,96.0,"Crime,Drama",9.0,905914,50083
50196,tt0071562,movie,The Godfather Part II,The Godfather Part II,0.0,1974.0,NaN,202.0,"Crime,Drama",9.0,1408695,71562
81738,tt0108052,movie,Schindler's List,Schindler's List,0.0,1993.0,NaN,195.0,"Biography,Drama,History",9.0,1499874,108052
...,...,...,...,...,...,...,...,...,...,...,...,...
1146390,tt3315342,movie,Logan,Logan,0.0,2017.0,NaN,137.0,"Action,Drama,Sci-Fi",8.1,876034,3315342
1199109,tt3863552,movie,Bajrangi Bhaijaan,Bajrangi Bhaijaan,0.0,2015.0,NaN,163,"Action,Adventure,Comedy",8.1,102456,3863552
1207939,tt4016934,movie,The Handmaiden,Ah-ga-ssi,0.0,2016.0,NaN,145.0,"Drama,Romance,Thriller",8.1,183336,4016934
1270905,tt5027774,movie,"Three Billboards Outside Ebbing, Missouri","Three Billboards Outside Ebbing, Missouri",0.0,2017.0,NaN,115.0,"Comedy,Crime,Drama",8.1,573057,5027774
1292405,tt5323662,movie,A Silent Voice: The Movie,Koe no katachi,0.0,2016.0,NaN,130.0,"Animation,Drama",8.1,113097,5323662

And now I need a list of genres

In [14]:
genres = set()
for genre_list in df[~df["genres"].isnull()]["genres"].unique():
    genres.update(genre_list.split(","))
genres

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}